name: Deploy to Heroku

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Keep manual trigger option

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://yno-libero-vino.herokuapp.com
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          
      - name: Health check
        run: |
          sleep 30
          curl -f https://yno-libero-vino.herokuapp.com/health || exit 1
        continue-on-error: true

  # Staging deployment - uncomment when staging app is created
  # deploy-staging:
  #   name: Deploy to Staging
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/develop'
  #   environment:
  #     name: staging
  #     url: https://yno-libero-vino-staging.herokuapp.com
  #   
  #   steps:
  #     - uses: actions/checkout@v4
  #     
  #     - name: Deploy to Heroku Staging
  #       uses: akhileshns/heroku-deploy@v3.13.15
  #       with:
  #         heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
  #         heroku_app_name: ${{ secrets.HEROKU_STAGING_APP_NAME }}
  #         heroku_email: ${{ secrets.HEROKU_EMAIL }}

